.header {
  background-color: var(--sl-color-bg);
  border: 0;
}

.header .social-icons::after {
  border: 0;
}

.sidebar-pane {
  background-color: var(--sl-color-bg);
  border: 0;
}

nav {
  background-color: var(--sl-color-bg);
}

.content-panel + .content-panel {
  border: 0;
}

.right-sidebar {
  border: 0;
}

.site-title,
.title,
.sl-markdown-content :is(h1, h2, h3, h4, h5, h6):not(:where(.not-content *)),
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Mulish Variable", var(--__sl-font);
  font-weight: 700;
}

.site-title {
  font-weight: 500;
}
